<% layout("/layouts/boiler") -%>
<style>
  body{
    overflow:auto;
  }
  /* Chrome, Edge, Safari */
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
</style>
<body>
  <div class="page-center-apod">
    <div class="container my-5 apod-div">
      <div class="row align-items-center">
        
        <!-- Image Column -->
        <div class="col-md-6 img-col">
          <% if(data.media_type === "video"){ %>
            <iframe src="<%= data.url %>" frameborder="0" allowfullscreen class="img-fluid"></iframe>
          <% } else { %>
            <img id="apod-img" class="img-fluid" src="<%= data.url %>" alt="Img of Aopd">
          <% } %>
          <% if(data.hdurl){ %>
            <a href="<%= data.hdurl %>" class="hd-link">HD Img</a>
          <% } %>
        </div>

        <!-- Text Column -->
        <div class="col-md-6">
          <h1 class="text-col text-center"><%=data.title%></h1><br>
          <p class="text-col"><%=data.explanation%></p>
          <p class="text-col">Todays Date:-<i><%=data.date%></i></p>
        </div>
      </div>
    </div>
  </div>
  
</body>

