<%- layout("./layouts/boiler") %>

<body>
  <div class="page-center">
    <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
  <% planetData.forEach((_, index) => { %>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="<%= index %>"
      class="<%= index === 0 ? 'active' : '' %>"
      aria-current="<%= index === 0 ? 'true' : 'false' %>">
    </button>
  <% }) %>
</div>
  <div class="carousel-inner">
    <% planetData.forEach((planet, index) => { %>
      <div class="carousel-item  <%= index === 0 ? 'active' : '' %>">
        <img src="<%=planet.img%>" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= planet.title%></h5>
          <p><%= planet.description%></p>
          <a href="<%= planet.link %>" class="Know-more-link" target="_blank">Know More</a>
        </div>
      </div>
    <% }) %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
     <span style="font-size:3rem; color:red;">&#10094;</span> <!-- left arrow -->
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
     <span style="font-size:3rem; color:red;">&#10095;</span> <!-- right arrow -->
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</body>
